body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Basic styling, customize as needed */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: aqua;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.user-form {
  margin-top: 20px;
  padding-left: 20px;
  background-color: aqua;
  width: 300px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.label{
  margin-bottom: 20px;
}